#環境設定
.environment_pr/.env


#data
*.csv
*.tsv
*.pkl

#アプリケーションキャッシュ
**/cache/
**/__pycache__/
**/joblib/
**/catboost_info/
core


#ログファイル
*.log
Save/

#モデル
models/

#再利用するかもしれないファイル
old/


